$background-black: #2C3133;

$display-grey: #F0F0F0;
$display-grey-dark: #D8D8D8;

$green: #12B0A5;
$green-hover: #10887f;
$purple: #79799E;
$purple-hover: #67678a;
$yellow: #F1B136;
$yellow-hover: #d89e2e;
$red: #CB6B6B;
$red-hover: #8c4343;
